.center-box{
    background-color: darkblue;
    width: auto;
    height: 150px;
    display:flex;
align-items: center;
justify-content: center;
    
}
.center-item{
    background-color: rosybrown;
    width:50px;
    height:50px;
}